##table of enums with 3 values

<table border="1">
<tr>
<td>name</td><td>value</td><td>description</td>
</tr>
<tr>
<td>$name0</td><td>$value0</td><td>$description0</td>
</tr>
#if( $name1 )
<tr>
<td>$name1</td><td>$value1</td><td>$description1</td>
</tr>
#if( $name2 )
<tr>
<td>$name2</td><td>$value2</td><td>$description2</td>
</tr>
#if( $name3 )
<tr>
<td>$name3</td><td>$value3</td><td>$description3</td>
</tr>
#if( $name4 )
<tr>
<td>$name4</td><td>$value4</td><td>$description4</td>
</tr>
#if( $name5 )
<tr>
<td>$name5</td><td>$value5</td><td>$description5</td>
</tr>
#if( $name6 )
<tr>
<td>$name6</td><td>$value6</td><td>$description6</td>
</tr>
#if( $name7 )
<tr>
<td>$name7</td><td>$value7</td><td>$description7</td>
</tr>
#if( $name8 )
<tr>
<td>$name8</td><td>$value8</td><td>$description8</td>
</tr>
#if( $name9 )
<tr>
<td>$name9</td><td>$value9</td><td>$description9</td>
</tr>
#end
#end
#end
#end
#end
#end
#end
#end
#end
</table>