Option:<br>
$description
<table border="1">
<tr>
<td>name</td><td>$name</td>
</tr>
#if( $type )
<tr>
<td>type</td><td>$type</td>
</tr>
#end
#if( $default )
<tr>
<td>default</td><td>$default</td>
</tr>
#end
#if( $deprecated )
<tr>
<td>deprecated</td><td>$deprecated</td>
</tr>
#end
#if( $java )
<tr>
<td>java</td><td>$java</td>
</tr>
#end
#if( $min )
<tr>
<td>min</td><td>$min</td>
</tr>
#end
#if( $max )
<tr>
<td>max</td><td>$max</td>
</tr>
#end
</table>